@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;400;700&display=swap";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

nav {
  background: black;
  height: 100px;
  width: 100%;
  padding-top: 1.875rem; }
  nav ul {
    float: right;
    margin-right: 20px; }
    nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px; }
      nav ul li a {
        color: white;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase; }

.enlace {
  position: absolute;
  padding: .0625rem 6.25rem 3.125rem 30px; }

.logo {
  height: 5rem; }

li a.active {
  background: #0000D7;
  transition: .5s; }

li a:hover {
  background: #0000D7;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

section {
  background-color: white;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px); }

.banner {
  background-color: white;
  text-align: center;
  display: block;
  width: 100%; }

.porque-somos-mejores {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 34.375rem;
  width: 100%; }
  .porque-somos-mejores div p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: .9375rem; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.maquina {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
  color: #0000D7;
  white-space: nowrap;
  border-right: 4px solid;
  width: 70ch;
  animation: typing 5s steps(70), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  padding-left: 12.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .9375rem 3.125rem; }

.cita-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;
  font-size: 1.25rem;
  background-color: #000000;
  color: white;
  padding: .9375rem .625rem; }

.container-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 31.25rem; }

.cards {
  width: 15.625rem;
  padding: .25rem; }

.clase-servicios {
  display: flex;
  align-items: center;
  justify-content: center; }
  .clase-servicios img {
    width: 100;
    object-fit: cover; }

.cards-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.pie-pagina {
  width: 100%;
  background-color: white; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo-1 .box figure {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 12.5rem; }
    .pie-pagina .grupo-1 .box h2 {
      color: #000000;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #000000;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 5px;
      background-color: #0000D7;
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: #000000; }
  .pie-pagina .grupo-2 {
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }
